<!-- Page header -->
<div class="bg-white shadow my-6">
  <div class="px-4 sm:px-6 lg:mx-auto lg:max-w-6xl lg:px-8">
    <div class="py-6 text-center lg:border-t lg:border-gray-200">
      <h1 class="text-3xl font-bold tracking-tight text-gray-600 sm:text-5xl">Horário de Brasília</h1>
      <h2 class="relogio mt-2 text-3xl font-bold tracking-tight text-gray-400">00:00:00</h2>
    </div>
  </div>
</div>

<div class="bg-white shadow my-6">
  <div class="px-4 sm:px-6 lg:mx-auto lg:max-w-6xl lg:px-8">
    <div class="py-6 text-start lg:border-t lg:border-gray-200">
      <h1 class="text-3xl font-bold tracking-tight text-gray-600 sm:text-5xl">Contador Regressivo</h1>

      <div class="mt-6 flex max-w-4xl gap-x-4">
        <label for="contador-regressivo" class="sr-only">Tempo em minutos</label>
        <input
          type="number"
          min="0"
          name="contador-regressivo"
          id="contador-regressivo"
          class="min-w-0 flex-auto rounded-md border-1 bg-white/5 px-3.5 py-2 shadow-sm sm:text-sm sm:leading-6"           
          placeholder="Tempo em minutos"
        >
        <button
          id="iniciar-contagem"
          type="button"
          class="flex-none rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
        >Iniciar</button>

        <button
          id="pausar-contagem"
          type="button"
          class="flex-none rounded-md bg-amber-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-amber-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-amber-500"
        >Pausar</button>

        <button
          id="limpar-contagem"
          type="button"
          class="flex-none rounded-md bg-red-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-red-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-500"
        >limpar</button>
      </div>
    </div>
    <div class="pb-6 text-center">
      <h2 id="mostrador-contrador-regressivo" class="mt-2 text-3xl font-bold tracking-tight text-gray-400">00:00:00</h2>
    </div>
  </div>
</div>

<%= javascript_include_tag "home", "data-turbo-track": "reload", defer: true %>